.footer {
    background: #139387;
    min-height: 50px;
    color: #ffffff;

    .container {
        display: flex;
        height: 50px;
        flex-wrap: wrap;
        align-content: center;
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
    }
}